
#wrapper {
  width: 100%;
  max-width: 1400px;
  min-width: 900px;
  margin: 0px auto;
}

#columns {
  -webkit-column-count: auto;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 4;
  -moz-column-gap: 10px;
  column-count: 4;
  column-gap: 10px;
  column-fill: auto;
}
.navbar-fixed-top{
	background-color: #d5b9af;
}
.navbar-brand, #faceMakeUp, #eyeMakeUp, #lips, #nails, #sort-by-most-recent, #sort-by-popularity, #add-pic{
	color: #473e42;
}
.navbar-header a:hover{
	color: #FFFFFF;
}
.pin {
  width:100%;
  
  display: inline-block;
  background: #FEFEFE;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 15px;
  padding-bottom: 25px;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  opacity: 1;

  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  cursor:pointer;
}

.pin img {
  width: 100%;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

.pin p {
  font: 12px/18px Arial, sans-serif;
  color: #333;
  margin: 0;
}

.pin .thumbs p{
	font: 1.2em "Pacifico", cursive;
	color: black;
	margin-top: -10px;
}
.enlarge-caption{
	width: 100%;
	text-align:center;
}

#enlarge-pic-id{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:100%;
	max-width:500px;
}

.enlarge-brand, .enlarge-category{
	position: relative;
	left:8%;
}

#enlarge-pic .enlarge-stars{
	font-size: large;
	position: relative;
	right: 8%;
	padding-bottom: 8px;
}

#enlarge-pic .modal-header, #enlarge-pic .modal-footer{
	border-bottom: none;
	border-top: none;
}

.pin:hover{
	  box-shadow: 0 3px 4px rgba(34, 25, 25, 0.4);
}

@media (min-width: 960px) {
  #columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}
  
.rating {
	margin: auto;
}

#small_pin_caption_display{
	clear: both;
}

.progress-bar{
	background-image: none;
}


div.progress-bar.agree-bar {
	background-image: none;
	background-color: rgba(125,0,102,0.65);
	background-repeat: repeat-x;
}

div.progress-bar.disagree-bar {
	background-color:rgba(252,236,133,0.65);
	background-image:none;
	background-repeat: repeat-x;
}


.thumbs{
	position: relative;
	float: right;
	height:0;
	display: inline;
}

.glyphicon-thumbs-up, .glyphicon-thumbs-down{
	/*font-size: large;*/
	font-color: black;
	font-size: 15px;
}

.thumbs .btn{
	font-size: 3px;
	margin-top: -10px;
}

#btn-s{
	background-image: none;
	border-color: #6c0055;
	background-color: #6c0055;
	color: white;
}

#btn-us{
	background-image: none;
	border-color: #fce71d;
	background-color: #fce71d;
	color: white;
}
.thumb-up{
	padding-right: 7px;
	
}

.thumbs .thumb-up, .thumbs .thumb-down{
	border-radius : 18px;
	
}


div .brand {
	font-family: 'Dancing Script', cursive;
	color: grey;
	padding-top: 3px;
	padding-bottom: 2px;
}
.pin .brand{
	font-size: 13px;
}

div .caption {
	font: 1.3em "Poiret One", cursive;
	color: black;
}

.addAgree{
	
	float: left;
	padding-right: 2px;
}

.addDisagree{
	
	float: right;
	padding-left: 2px;
}


.progress {
	margin-top:3px;
}


div.insertpictype input{
	margin-left: 5px;
	margin-bottom: 10px;
}

.btn.btn-primary.btn-makeup{
	background-color:#6c0055;
	background-image:none;
	border-color: #6c0055;
	opacity:0.6;
}

.btn.btn-primary.btn-makeup:hover{
	opacity:0.8;
}

.btn.btn-default.btn-makeup-cancel{
	background-color:#fce71d;
	background-image:none;
	border-color: #fce71d;
	opacity:0.6;
	
}

.btn.btn-default.btn-makeup-cancel:hover{
	opacity:0.8;
}