<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Weather Pics</title>

<link rel="stylesheet" type="text/css"
	href="/static/stylesheets/weatherPics_withbootstrap.css">
	
<link rel="stylesheet" type="text/css"
	href="/static/stylesheets/pinterest.css">
	

<!-- Bootstrap -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

</head>

<body>

	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Weather Pics</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a id="add-pic" data-toggle="modal" data-target="#insert-pic-modal" href="#">Add Weather Pic</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a id="toggle-edit" href="#">Edit</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
	</div>
	<div class="container">
		<div id="columns">
			{% for weatherpic in weatherpics_query %}
				<div class="pin">
					<div class="hidden pull-right edit-actions">
						<button data-toggle="modal" data-target="#insert-pic-modal" type="button" class="edit-pics btn btn-xs btn-success">
							<span class="glyphicon glyphicon-pencil"></span>
							<div class="hidden entity_key"> {{weatherpic.key.urlsafe()}}</div>
							<div class="hidden image_url">{{weatherpic.image_url}}</div>
							<div class="hidden caption">{{weatherpic.caption}}</div>
						</button>
						<button type="button" class="btn btn-xs btn-danger">
							<span class="glyphicon glyphicon-remove"></span>
							<div class="hidden entity_key">{{weatherpic.key.urlsafe()}}</div>
						</button>
					</div>
					<img src="{{ weatherpic.image_url }}" alt="A picture of weather">
					<p class="caption">{{weatherpic.caption}}</p>
				</div>				
			{% endfor %}
		</div>
	</div>
    
    <!-- Button trigger modal -->
	<!-- Modal -->
	<div class="modal fade" id="insert-pic-modal" tabindex="-1"
		role="dialog" aria-labelledby="Insert WeatherPic" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">Add a Weather Pic</h4>
				</div>
				<form action="/insertpic" method="post" class="form-horizontal" role="form">
					<input type="text" name="entity_key" class="hidden">
					<div class="modal-body">
						<div class="form-group">
							<label for="pic-input" class="col-sm-2 control-label">Weather Pic</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="pic-input"
									placeholder="Pic" name="image_url">
							</div>
						</div>
						<div class="form-group">
							<label for="caption-input" class="col-sm-2 control-label">Caption</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="caption-input"
									placeholder="Caption" name="caption">
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Add Weather Pic</button>
					</div>					
				</form>
			</div>
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!-- Compiled and minified Bootstrap JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script
		src="/static/js/weatherPics.js"></script>
</body>

</html>