<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Weather Pics</title>

<link rel="stylesheet" type="text/css"
	href="/static/stylesheets/makeUpReviews_withbootstrap.css">

<link rel="stylesheet" type="text/css"
	href="/static/stylesheets/pinterest.css">


<!-- Bootstrap -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

</head>

<body>

	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Reviews</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a id="add-pic" data-toggle="modal"
						data-target="#insert-pic-modal" href="#">Add Review</a></li>
				</ul>
				<ul class="nav navbar-nav">
					<li><a id="faceMakeUp" href="/facemakeup">Face Make Up</a></li>
					<li><a id="eyeMakeUp" href="/eyemakeup">Eye Make Up</a></li>
					<li><a id="lips" href="/lips">Lips</a></li>
					<li><a id="nails" href="/nails">Nails</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a id="toggle-edit" href="#">Edit</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
	<div class="container">
		<div id="columns">
			{% for makeup in makeup_query %}
			<div class="pin">
				<div class="hidden pull-right edit-actions">
					<button data-toggle="modal" data-target="#insert-pic-modal"
						type="button" class="edit-pics btn btn-xs btn-success">
						<span class="glyphicon glyphicon-pencil"></span>
						<div class="hidden entity_key">{{makeup.key.urlsafe()}}</div>
						<div class="hidden image_url">{{makeup.image_url}}</div>
						<div class="hidden caption">{{makeup.caption}}</div>
						<div class="hidden brand">{{makeup.brand}}</div>
						<div class="hidden category">{{makeup.category}}</div>

					</button>
					<button type="button" class="btn btn-xs btn-danger">
						<span class="glyphicon glyphicon-remove"></span>
						<div class="hidden entity_key">{{makeup.key.urlsafe()}}</div>
					</button>
				</div>
				<img src="{{ makeup.image_url }}" alt="A picture of weather">
				<p class="caption">{{makeup.caption}}</p>
				<p class="brand">{{makeup.brand}}</p>
				<p class="category">{{makeup.category}}</p>
				<!-- take out later -->
			</div>
			{% endfor %}
		</div>
	</div>

	<!-- Button trigger modal -->
	<!-- Modal -->
	<div class="modal fade" id="insert-pic-modal" tabindex="-1"
		role="dialog" aria-labelledby="Insert WeatherPic" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">Add a MakeUp Review</h4>
				</div>
				<form action="/insertpic" method="post" class="form-horizontal"
					role="form">
					<input type="text" name="entity_key" class="hidden">
					<div class="modal-body">
						<div class="form-group">
							<label for="pic-input" class="col-sm-2 control-label">MakeUp
								Pic</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="pic-input"
									placeholder="Upload your picture here" name="image_url">
							</div>
						</div>
						<div class="form-group">
							<label for="caption-input" class="col-sm-2 control-label">Comment:
							</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="caption-input"
									placeholder="What did you think?" name="caption">
							</div>
						</div>

						<select class="form-control" name="category">
							<option value="Face Make Up">Face Make Up</option>
							<option value="Eye Make Up">Eye Make Up</option>
							<option value="Lips">Lips</option>
							<option value="Nails">Nails</option>
						</select> <select class="form-control" name="brand">
							<option value="Brand 1">Brand 1</option>
							<option value="Brand 2">Brand 2</option>
							<option value="Brand 3">Brand 3</option>
						</select>


					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Add MakeUp
							Review</button>
					</div>
				</form>
			</div>
		</div>
	</div>



	<div class="modal fade" id="enlarge-pic" tabindex="-1"
		role="dialog" aria-labelledby="Insert WeatherPic" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
				</div>
				<div class="modal-body">
					<div class = "enlarge-pic-img">
						<img id="enlarge-pic-id"/>
					</div>
					<div class = "enlarge-caption">
						<h3 class = "enlarge-caption-text"></h3>
					</div>
					<div>
						<h4 class = "enlarge-brand"></h4>
						<h4 class = "enlarge-category"></h4>
					</div>
					
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>





	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!-- Compiled and minified Bootstrap JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="/static/js/makeUpPics.js"></script>
</body>

</html>