<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Make Up Reviews</title>


<link rel="stylesheet" type="text/css"
	href="/static/stylesheets/makeUpReviews_withbootstrap.css">

<link rel="stylesheet" type="text/css"
	href="/static/stylesheets/pinterest.css">


<!-- Bootstrap -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link href="http://fonts.googleapis.com/css?family=Droid+Serif&effect=emboss" rel='stylesheet' type='text/css'>


</head>

<body>

	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Reviews</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a id="sort-by-most-recent" class="sort" href="#">Most Recent</a></li>
						
					<li><a id="sort-by-popularity" class="sort" href="#">Most Popular</a></li>
						
					<li><a id="add-pic" data-toggle="modal"
						data-target="#insert-pic-modal" href="#">Add Review</a></li>
				</ul>
				<ul class="nav navbar-nav">
					<li><a id="faceMakeUp" href="/facemakeup">Face Make Up</a></li>
					<li><a id="eyeMakeUp" href="/eyemakeup">Eye Make Up</a></li>
					<li><a id="lips" href="/lips">Lips</a></li>
					<li><a id="nails" href="/nails">Nails</a></li>
				</ul>

			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
	<div class="container">
		<div id="columns">
			
			{% set count = 0 %}
			{% for makeup in makeup_query %}
			<div class="pin">
				<div class="rating pull-right">
				{% for star in range(1, 6) %}
					{% if star <= makeup.star_rating %}
					 <span class="glyphicon glyphicon-star"></span>
					 {% else %}
					<span class="glyphicon glyphicon-star-empty"></span> 
					{% endif %} 
				{% endfor %}
				</div>
				
				<input type=text value="{{ makeup.star_rating }}" style="display:none" class="en_star_rating_class" name="en_star_rating"/>
				
				<img src={{images_list[loop.index0]}} alt="A picture of makeup">	
				
				<p class="caption" id="small_pin_caption_display">{{makeup.caption}}</p>
				<p class="brand ">{{makeup.brand}}</p>
				
				{% set agr = makeup.agree|int  %}
				{% set disagr = makeup.disagree|int %}
				
				{% set forbar = agr + disagr %}
				
				{% if forbar == 0 %}
					{% set agreebarone =  0 %}
					{% set disagreebarone =  0 %}
					
				{% else %}
					{% set agreebarone =  agr / forbar %}
					{% set disagreebarone =  disagr / forbar %}
					
					
				{% endif %}
				{% set agreebar = agreebarone * 100 %}
				{% set disagreebar = disagreebarone * 100 %}
					
			
				<div class="progress" style="height: 5px">
					<div class="agree-bar progress-bar progress-bar-success" style="width: {{ agreebar }}%"> 
							        
				      <span class="sr-only"></span>
				    </div>
				    <div class="disagree-bar progress-bar progress-bar-warning progress-bar-striped" style="width: {{ disagreebar }}%">
				      <span class="sr-only"></span>
				    </div>
				</div>
				
				<div class="thumbs" style="display:none">
					<p class="addAgree" >{{makeup.agree}}</p>
					<button type="submit" class="thumb-up btn btn-success"> 
						<span class="glyphicon glyphicon-thumbs-up"></span>
					</button>
					
					<p class="addDisagree">{{makeup.disagree}}</p>
					<button type="submit" class="thumb-down btn btn-danger">
						<span class="glyphicon glyphicon-thumbs-down"></span>
					</button>
				    <input type="hidden"  class="makeup_key hidden-input" value="{{ makeup.key.urlsafe() }}">
				</div>
			</div>
			{% set count = count + 1 %}
			{% endfor %}
		</div>
	</div>

	<!-- Button trigger modal -->
	<!-- Modal -->
	<div class="modal fade" id="insert-pic-modal" tabindex="-1"
		role="dialog" aria-labelledby="Insert WeatherPic" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">Add a MakeUp Review</h4>
				</div>
				<form action={{ upload_url }} method="post" class="form-horizontal"
					role="form" enctype="multipart/form-data">
					<input type="text" name="entity_key" class="hidden">
					<div class="modal-body">
					
					<div class="insertpictype">
	       				   <input type="radio" id="localpic" name="uploadtype" value="localpic">LOCAL
	       				   <br>
	       				   <input type="radio" id="webpic" name="uploadtype" value="webpic">WEB
       				</div>

						<div  enctype="multipart/form-data" class="fileinput fileinput-new input-group hidden"
							data-provides="fileinput">
							<div class="form-control" data-trigger="fileinput">
								<i class="glyphicon glyphicon-file fileinput-exists"></i> 
								<span class="fileinput-filename"></span>
							</div>
							<span class="input-group-addon btn btn-default btn-file">
								<span class="fileinput-new">Select file</span>
								<span class="fileinput-exists">Change</span>
								<input type="file" name="image_url_local">
							</span> 
							<a href="#" class="input-group-addon btn btn-default fileinput-exists"data-dismiss="fileinput">Remove</a>
						</div>

						<div class="upload-from-web form-group hidden">
							<label for="pic-input" class="col-sm-2 control-label">MakeUp
								Pic</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="pic-input"
									placeholder="Upload your picture here" name="image_url">
							</div>
						</div>
						<div class="form-group">
							<label for="caption-input" class="col-sm-2 control-label">Comment:
							</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="caption-input"
									placeholder="What did you think?" name="caption">
							</div>
						</div>

 
						<div class="add-review-rating">
							<span class="glyphicon glyphicon-star-empty star" id="star1"></span> 
							<span class="glyphicon glyphicon-star-empty star" id="star2"></span> 
							<span class="glyphicon glyphicon-star-empty star" id="star3"></span> 
							<span class="glyphicon glyphicon-star-empty star" id="star4"></span> 
							<span class="glyphicon glyphicon-star-empty star" id="star5"></span>
						</div>
						<input type=text value="0" style="display:none" id="star-number" name="star_rating"/>

						<select class="form-control" name="category">
							<option value="Face Make Up">Face Make Up</option>
							<option value="Eye Make Up">Eye Make Up</option>
							<option value="Lips">Lips</option>
							<option value="Nails">Nails</option>
						</select>
						 <select class="form-control" name="brand">
							<option value="Brand 1">Brand 1</option>
							<option value="Brand 2">Brand 2</option>
							<option value="Brand 3">Brand 3</option>
						</select>


					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Add MakeUp Review</button>
					</div>
				</form>
			</div>
		</div>
	</div>



	<div class="modal fade" id="enlarge-pic" tabindex="-1" role="dialog"
		aria-labelledby="Insert WeatherPic" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
				</div>
				<div class="modal-body">

					
					<div class="enlarge-stars pull-right">
						<span class="glyphicon glyphicon-star-empty" id="en-star1"></span> 
						<span class="glyphicon glyphicon-star-empty" id="en-star2"></span> 
						
						<span class="glyphicon glyphicon-star-empty" id="en-star3"></span> 
						
						<span class="glyphicon glyphicon-star-empty" id="en-star4"></span> 
			
						<span class="glyphicon glyphicon-star-empty" id="en-star5"></span> 
								
					</div>

					<div class="enlarge-pic-img">
						<img id="enlarge-pic-id" />
					</div>
					
					<div class="enlarge-caption">
						<h3 class="enlarge-caption-text"></h3>
					</div>
					<div>
						<h4 class="enlarge-brand"></h4>
						<h4 class="enlarge-category"></h4>
					</div>

				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!-- Compiled and minified Bootstrap JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="/static/js/makeUpPics.js"></script>
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
</body>

</html>